.logo_style{
	padding-left: 25px;
	font-family: Georgia , Serif;
	font-style: italic;
	font-size : 40px;
}

.game_name{
	font-family: Georgia , Serif;
	font-style: italic;
	font-size: 40px;
	position: relative ;
	right : 5%;
	top: 6px;
	color :#ffccff;
}

.new_game_link {
	font-family: Georgia , Serif;
	font-style: italic;
	font-size : 40px;
	color : white;
	padding-right: 25px;
}

a:hover{
	color:white;
	//text-decoration: none;
}


.grid-container{
	height : 400px;
	width : 400px;
	margin : 0 auto;
	margin-top : 60px;
	display:grid;
	grid-template-rows: repeat(3,1fr [row-start]);
	grid-template-columns: repeat(3,1fr [col-start]);
	grid-gap : 10px 10px;

}

.btn-box{
	cursor:pointer;
}


.btn-box:hover{
	box-shadow: 2px 2px 2px 2px #ffb3ff;
	background-color: #ffccff;
}
